<!doctype html>
<html>
    <head>
        <title>Polimatk</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" id="stylesheet">
        <link rel="stylesheet" href="/css/dashboard.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            <% if(req.session && req.session.theme != 'auto') { %>
                <% if(req.session.theme == 'dark') { %>
                    $('body').attr('id', 'dark');
                    $('#stylesheet').before('<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.dark.min.css">');
                <% } else { %>
                    $('body').attr('id', 'light');
                    $('#stylesheet').before('<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.css">');
                <% } %>
            <% } else { %>
                if(window.matchMedia('(prefers-color-scheme: dark)')) {
                    $('body').attr('id', 'dark');
                    $('#stylesheet').before('<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.dark.min.css">');
                }
                else {
                    $('body').attr('id', 'light');
                    $('#stylesheet').before('<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.css">');
                }
            <% } %>
        </script>
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top p-0 justify-content-between">
            <a class="navbar-brand col-md-3 col-lg-2 m-0 p-0 px-2" href="/"><img height="50" src="/images/polimatk-logo-rect-white.png"></a>
            <button class="btn text-light ml-2 d-md-none" id="navbtn"><span data-feather="menu"></span></button>
            <ul class="navbar-nav px-3 ml-auto" style="align-items: center">
                <form method="post" action="<%= req.path %>">
                    <li class="nav-item dropdown d-none d-sm-block">
                    <a class="nav-link dropdown-toggle" href="#" id="theme" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span data-feather="<%- req.session.theme == 'auto' ? 'eye' : (req.session.theme == 'light' ? 'sun' : 'moon') %>"></span>
                    </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="theme">
                            <button class="dropdown-item<%- req.session.theme == 'auto' ? ' active' : '' %>" type="submit" name="theme" value="auto">Auto</button>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item<%- req.session.theme == 'light' ? ' active' : '' %>" type="submit" name="theme" value="light"><span data-feather="sun"></span> Light</button>
                            <button class="dropdown-item<%- req.session.theme == 'dark' ? ' active' : '' %>" type="submit" name="theme" value="dark"><span data-feather="moon"></span> Dark</button>
                        </div>
                    </li>
                </form>
            <% if(req.user) { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="user" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle" height="32px" src="https://cdn.discordapp.com/avatars/<%= req.user.discordId %>/<%= req.user.discordProfile.avatar %>.<%= (req.user.discordProfile.avatar.substr(0, 2) == 'a_' ? 'gif' : 'png'); %>" alt="Avatar"> <%= req.user.discordProfile.username %>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user">
                        <a class="dropdown-item" href="/<%= req.user.slug ? '@' + req.user.slug : 'profile' %>">Profile</a>
                        <a class="dropdown-item" href="/settings">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/signout">Sign out</a>
                    </div>
                </li>
                <% } else { %>
                <li class="nav-item text-nowrap">
                    <a class="nav-link btn btn-primary btn-lg p-2 px-3" id="discord" style="background: #7289DA">Sign in with Discord</a>
                </li>
                <% } %>
            </ul>
        </nav>
        
        <div class="sidebar-bg"></div>

        <div class="container-fluid">
            <div class="row">
                <nav id="sidebar" class="d-md-block col-5 col-sm-4 col-md-3 col-lg-2 sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link<%= tab == 'dashboard' ? ' active' : '' %>" href="/">
                                <span data-feather="home"></span>
                                Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link<%= tab == 'commands' ? ' active' : '' %>" href="/commands">
                                <span data-feather="terminal"></span>
                                Commands
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link<%= tab == 'voting' ? ' active' : '' %>" href="/voting">
                                <span data-feather="credit-card"></span>
                                Voting
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link<%= tab == 'about' ? ' active' : '' %>" href="/about">
                                <span data-feather="info"></span>
                                About
                                </a>
                            </li>
                        </ul>
                        
                        <% if(req.user) { %>
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Modifying</span>
                            <a class="d-flex align-items-center text-muted" href="<%= server.config.addBot %>" data-mdb-toggle="tooltip" title="Add to server">
                                <span data-feather="plus-circle"></span>
                            </a>
                        </h6>
                        <ul class="nav flex-column mb-2">
                            <% for(var i = 0; i < req.user.discordProfile.guilds.length; i++) { %>
                            <% if((req.user.discordProfile.guilds[i].permissions & 0x20) == 0x20) { %>
                            <li class="nav-item">
                                <a class="nav-link server<%= req.session.guild == req.user.discordProfile.guilds[i].id ? ' active' : '' %>" href="/server/<%= req.user.discordProfile.guilds[i].id %>">
                                    <img height="24" class="rounded-circle" src="https://cdn.discordapp.com/icons/<%= req.user.discordProfile.guilds[i].id + '/' + req.user.discordProfile.guilds[i].icon + '.' + (req.user.discordProfile.guilds[i].icon.substr(0, 2) == 'a_' ? 'gif' : 'png') %>" alt="Guild icon">
                                    <%= req.user.discordProfile.guilds[i].name %>
                                </a>
                            </li>
                            <% } %>
                            <% } %>
                        </ul>
                        <% } %>
                    </div>
                </nav>
                <div class="col-md-3 col-lg-2" id="clearfix"></div>
                <main class="col-md-9 col-lg-10 px-sm-5 py-4">
                    <% if(typeof(success) !== 'undefined') { %>
                        <div class="alert alert-info fade show">
                            <%- success %>
                        </div>
                    <% } %>
                    <% if(typeof(error) !== 'undefined') { %>
                        <div class="alert alert-danger fade show">
                            <%- error %>
                        </div>
                    <% } %>