<%- include('../components/header'); %>
<h5 class="display-5">About</h5>
<p>Need help? Submit bug reports on <a href="https://github.com/Polimatk/Web/issues">Github</a> or privately message us on <a href="https://twitter.com/Polimatk">Twitter</a>.</p>
<ul class="nav nav-tabs shadow-lg mt-4">
    <li class="nav-item"><a class="nav-link<%= !section ? ' active' : '' %>" href="/about">Overview</a></li>
    <li class="nav-item"><a class="nav-link<%= section == 'commands' ? ' active' : '' %>" href="/about/commands">Commands</a></li>
    <li class="nav-item"><a class="nav-link<%= section == 'roles' ? ' active' : '' %>" href="/about/roles">Roles</a></li>
</ul>
<div class="card shadow-lg">
    <div class="card-body">
        <% if(!section) { %>
            <h5>What is Polimatk?</h5>
            <p>
                While it started as a manager for debates over Discord, Polimatk quickly became a
                one-size-fits-all bot. With unparalleled customization and an elegant design,
                it has become one of the most inuitive and feature-rich streaming tools. We hope
                to continue to innovate in this area for all kinds of communities.
            </p>
            <hr>
            <h5>Democratize streaming</h5>
            <p>
                Voting was never so fun. Get specific consensus using typical polls,
                or ask broad questions and get the most popular answers in an AMA format. Whatever
                you want out of your stream, add community input to make it that much better.
            </p>
            <hr>
            <h5>Better analytics</h5>
            <p>
                Track viewers across platforms and get better input by having everybody connect to
                their Discord. No personally identifiable information is stored other than their
                display name, plus their 4-digit code. Optionally, disable the Discord requirement
                for a seamless experience across all streaming platforms.
            </p>
            <hr>
            <h5>Get started</h5>
            <p>
                Get started by clicking
                <button class="btn btn-sm mx-2" disabled>Sign in with Discord</button> and choose
                <button class="btn btn-sm mx-2" disabled>Add to my server</button> so it will join.
                Then, set up your profile and you're good to go!
            </p>
        <% } %>

        <% if(section == 'commands') { %>
            <h5>Prefixes</h5>
            <p>
                Commands support any or no prefix &mdash; when creating a command, it will default
                to <code>!</code>, which can be changed or removed entirely. Add or modify a
                command by clicking its name, then click outside of the text box to save it.
                Confirm your choice if no prefix was provided.
            </p>
            <hr>
            <h5>Variables</h5>
            <p>
                Commands support variables, and we're always looking to add more. Currently
                supported variables:
                <h6 class="mt-4"><code>{args}</code></h6>
                All text after the command. Example: !google <strong>why many word?</strong>
                <h6 class="mt-4"><code>{platform}</code></h6>
                The platform where the command was used. Example: <strong>Twitch</strong>
                <h6 class="mt-4"><code>{guild id}</code></h6>
                The Discord server used to sign up. Example: <strong>23409258569220</strong>
                <h6 class="mt-4"><code>{guild name}</code></h6>
                The Discord server used to sign up. Example: <strong>My Super Server</strong>
                <h6 class="mt-4"><code>{guild slug}</code></h6>
                The community's custom URL. Example: polima.tk/@<strong>mysuperserver</strong>
                <h6 class="mt-4"><code>{user name}</code></h6>
                The user's display name. Example: <strong>Polimatk</strong>
                <h6 class="mt-4"><code>{user role}</code></h6>
                The user's <a href="/about/roles">role</a>. Example: <strong>subs</strong>
            </p>
            <hr>
            <h5>Custom APIs</h5>
            <p>
                Want to extend the features of this bot? Commands also support custom APIs. To
                make a request, add the following where you'd like the response to go:
                <h6 class="mt-4"><code>{api https://api.polima.tk/autoupdate.txt}</code></h6>
                Use for plain-text responses, e.g. you want a command that updates automatically.
                <h6 class="mt-4"><code>{api https://api.polima.tk/v1/weather?q={args} weather.description}</code></h6>
                For JSON responses, provide the path to the text you want. For multiple texts,
                include the entire {api } block again &mdash; the response will be cached
                so your API key will not be used twice.
            </p>
        <% } %>

        <% if(section == 'roles') { %>
            <h5>Roles</h5>
            <p>
                Users share the same roles between platforms. If they are subscribed on Twitch,
                a member on YouTube, or have a role named 'subs', 'subscribers' or 'members' on
                Discord, it will always be shortened to <code>subs</code>. If they are a chat
                moderator or server manager, it will always be <code>mods</code>. All other users
                have the role <code>all</code>. To disable commands entirely, set the role to 
                <code>none</code>.
            </p>
        <% } %>
    </div>
</div>
<%- include('../components/footer'); %>
