<%- include('../components/header'); %>
<% if(profile) { %>
    <div class="d-flex justify-content-between">
        <div>
            <h5 class="display-5">
                <img height="48" class="rounded-circle" src="https://cdn.discordapp.com/icons/<%= profile.discordId + '/' + profile.discordProfile.icon + '.' + (profile.discordProfile.icon.substr(0, 2) == 'a_' ? 'gif' : 'png') %>" alt="User avatar">
                <%= profile.discordProfile.name %>
            </h5>
            <p><%- req.params.page == 'ama'
                ? 'Choose from other responses or add your own! <a href="/@' + req.params.slug + '">Back to events</a>.'
                : 'This community is on Polimatk! All current events are listed here.' %>
            </p>
        </div>
    </div>
    <ul class="nav nav-tabs shadow-lg">
        <li class="nav-item" id="tab-cmds">
            <a class="nav-link" href="/@<%= profile.slug %>">Commands</a>
        </li>
        <li class="nav-item" id="tab-load">
            <a class="nav-link disabled">Loading...</a>
        </li>
    </ul>
<% if(!req.params.page) { %>
    <div class="card shadow-lg">
        <table class="table table-striped mb-0">
            <tbody>
                <% for(let cmd = 0; cmd < commands.length; cmd++) { %>
                <tr>
                    <td><%= commands[cmd].name %></td>
                    <td><%= commands[cmd].response %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
<% } else if(req.params.page == 'poll') { %>
    <iframe src="https://api.polima.tk/overlays/poll?access_token=<%= req.user ? req.user.token : 'readonly' %>&guild=<%= profile.discordId %>" style="height: 250px; width: 100%" scrolling="no"></iframe>
    <small>Click or type the choice number to vote.</small>
<% } else if(req.params.page == 'ama') { %>
    <div class="card shadow-lg">
        <div class="card-body" id="ama-container">
            <h5 style="font-weight: 300" id="ama-title"></h5>
            <div style="display: none" id="ama-clone">
                <div class="form-outline">
                    <input type="text" id="ama-text" class="form-control">
                    <label for="ama-text" class="form-label">Your choice</label>
                </div>
                <button id="ama-respond" class="btn btn-primary mt-2">Add choice</button>
            </div>
            <div style="display: none" id="ama-none">
                <h5 style="font-weight: 300">No events right now, check back later!</h5>
            </div>
            <div id="ama-load" class="spinner-border"></div>
        </div>
    </div>
    <!-- responses -->
<% } %>
<% } %>
<%- include('../components/footer'); %>
