<%- include('../components/header'); %>
<% if(profile) { %>
    <div class="d-flex justify-content-between">
        <div>
            <h4 class="display-4">
                <img height="48" class="rounded-circle" src="https://cdn.discordapp.com/avatars/<%= profile.discordId + '/' + profile.discordProfile.avatar + '.' + (profile.discordProfile.avatar.substr(0, 2) == 'a_' ? 'gif' : 'png') %>" alt="User avatar">
                <%= profile.discordProfile.username %>
            </h4>
            <p>Joined <%- joined %></p>
        </div>
        <div>
            <a class="btn btn-danger btn-outline" href="/signout">Sign out</a>
        </div>
    </div>
<% } %>
<%- include('../components/footer'); %>