<%- include('../components/header'); %>
<% if(req.user.remainingSteps) { %>
<div class="card mt-4">
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <canvas id="setup" height="75"></canvas>
            </div>
            <div class="col-10">
                <h5 class="card-title mt-2">Account setup <span class="badge"><%= (setupSteps - req.user.remainingSteps) / setupSteps * 100 %>%</span></h5>
                <p>
                    <% if(req.user.remainingSteps) { %>
                        Just
                        <%= (req.user.remainingSteps == 1 ? 'one more step' :
                            (req.user.remainingSteps == 2 ? 'a couple more steps' : 'a few more steps')) %>
                        and you're ready!
                    <% } else { %>
                        Your account is all set up! <%= req.user.remainingSteps %>
                    <% } %>
                    </p>
            </div>
        </div>
        <form method="post" action="/profile" class="mt-4 mb-0 p-sm-3">
            <% if(req.user.currentStep == 'choose a username') { %>
            <label for="slug">Profile URL</label>
            <div id="slug" class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                </div>
                <input class="form-control" name="slug" type="text" placeholder="username">
            </div>
            <% } %>
            <button type="submit" class="btn btn-primary mt-4 mb-0">Save</button>
        </form>
    </div>
</div>
<% } %>
<%- include('../components/footer'); %>
